.pokeCard {
  max-width: 24rem;
  box-shadow: 0 0 0.8rem rgba(10, 10, 10, 0.3);
  border-radius: 0.5rem;
}

.pokeCard__bg {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.pokeCard__sprite {
  object-fit: scale-down;
  width: 12rem;
  height: 12rem;
  top: 10%;
  right: 16%;
}

.pokeCard__body {
  padding-top: 6rem;
}

@media (min-width: 360px) {
  .pokeCard__sprite {
    width: 15rem;
    height: 15rem;
    top: 12%;
    right: 18%;
  }

  .pokeCard__body {
    padding-top: 7rem;
  }
}

@media (min-width: 768px) {
  .pokeCard {
    max-width: 19rem;
  }

  .pokeCard__sprite {
    width: 14rem;
    height: 14rem;
    top: 10%;
    right: 13%;
  }

  .pokeCard__body {
    padding-top: 8rem;
  }
}

