.pokeCard {
  max-width: 24rem;
  border-radius: 0.5rem;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.pokeCard:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.pokeCard__bg {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.pokeCard__sprite {
  object-fit: scale-down;
  width: 12rem;
  height: 12rem;
  top: 10%;
  right: 16%;
}

.pokeCard__body {
  padding-top: 6rem;
}

@media (min-width: 360px) {
  .pokeCard__sprite {
    width: 15rem;
    height: 15rem;
    top: 12%;
    right: 18%;
  }

  .pokeCard__body {
    padding-top: 7rem;
  }
}

@media (min-width: 768px) {
  .pokeCard {
    max-width: 19rem;
  }

  .pokeCard__sprite {
    width: 14rem;
    height: 14rem;
    top: 10%;
    right: 13%;
  }

  .pokeCard__body {
    padding-top: 8rem;
  }
}
